{%- assign media_blocks = 'image,image_with_text_overlay,collection,video,product'
  | split: ','
-%}
<div
  class="relative"
  {% if media_blocks contains block.type %}
    data-media-item
  {% endif %}
  {% if request.design_mode %}
    x-data="
      {
        blockAttributes: {
          {% for attribute in block.shopify_attributes %}
            ':{{ attribute | strip | split: '=' | first }}': `blockRootShown ? '{{ attribute | strip | split: '=' | last | replace: '"', '' | replace: "'", '' }}' : null`{% unless forloop.last %},{% endunless %}
          {% endfor %}
        }
      }
    "
    x-bind="blockAttributes"
  {% endif %}
>
  {% liquid
    unless sizes
      assign sizes = '(min-width: 768px) 75vw, 50vw'
    endunless

    unless preload
      assign preload = false
    endunless

    unless loading
      assign loading = null
    endunless
  %}
  {% case block.type %}
    {% when 'image' %}
      {% liquid
        assign image = block.settings.image
        assign url = block.settings.url
        assign caption = block.settings.caption
      %}
      {% capture image_content %}
        <div class="mx-auto" data-scale-reveal {% if settings.zoom_media_links_on_hover and url != blank %}data-zoom-on-hover{% endif %}>
          {% unless image == blank %}
            {{ image | image_url: width: 2000 | image_tag: preload: preload, loading: loading, sizes: sizes, decoding: 'async' }}
          {% else %}
            {%- assign ratios = ' aspect-w-1 aspect-h-1: aspect-w-4 aspect-h-3 : aspect-w-3 aspect-h-4 ' | split: ':' -%}
            {%- assign ratio = index | modulo: 3 -%}
            <div class="relative text-scheme-placeholder-foreground {{ ratios[ratio] | strip }}">
            {{ 'image' | placeholder_svg_tag: 'bg-scheme-placeholder-background  text-scheme-placeholder-foreground fill-current absolute inset-0 h-full w-full' }}
            </div>
          {% endunless %}
        </div>
        {%- if caption != blank -%}
          <div class="break-word rte rte--content-only rte--compact mt-5 text-theme-basic" aria-hidden="true">
              {{ caption }}
          </div>
        {%- endif -%}
      {% endcapture %}

      {% if url != blank %}
        <a href="{{ url }}">
          {{ image_content }}
        </a>
      {% else %}
        {{ image_content }}
      {% endif %}
    {% when 'image_with_text_overlay', 'collection' %}
      {% liquid
        if block.type == 'collection'
          assign placeholder_key = 'collection-1'
          assign image = block.settings.collection.image | default: block.settings.collection.products.first.featured_image
          assign placeholder_title = 'sections.onboarding.collection_title' | t
          assign text = block.settings.collection.title | default: placeholder_title
          assign overlay_text_size = block.settings.overlay_text_size
          assign text_scheme = block.settings.text_scheme
          assign link = block.settings.collection.url
          assign text_display = block.settings.text_display
        else
          assign placeholder_key = 'image'
          assign image = block.settings.image
          assign text = block.settings.text
          assign overlay_text_size = block.settings.overlay_text_size
          assign link = block.settings.link
          assign text_scheme = block.settings.text_scheme
          assign text_display = 'overlay'
        endif
        render 'image-or-collection-item', sizes: sizes, placeholder_key: placeholder_key, image: image, text: text, overlay_text_size: overlay_text_size, link: link, text_scheme: text_scheme, preload: preload, loading: loading, text_display: text_display
      %}
    {% when 'heading', 'text', 'heading_with_text' %}
      {% liquid
        assign text_align = block.settings.text_align
        assign heading_font_size = block.settings.text_size | default: 'text-heading-standard'

        if heading_font_size == 'heading-feature'
          assign block_classes = 'md:w-3/4 lg:w-2/3 max-w-[50rem]'
          if enable_cascade_on_mobile
            assign block_classes = block_classes | prepend: 'w-9/10 '
          endif
        else
          assign block_classes = ' md:w-3/4 lg:w-2/3 max-w-[40rem]'
          if enable_cascade_on_mobile
            assign block_classes = block_classes | prepend: 'w-7/8 '
          endif
        endif
      %}
      <div
        class="mx-auto {{ block_classes }} {{ text_align }}"
        data-disable-variance
        data-opacity-reveal
      >
        {% if block.settings.heading != blank %}
          <h3 class="font-heading {{ heading_font_size }} break-word">
            {{- block.settings.heading | strip -}}
          </h3>
        {% endif %}
        {% if block.settings.rich_text != blank %}
          <div class="rte rte--content-only rte--compact text-theme-basic {% if block.settings.heading != blank %} mt-5{% endif %} break-word">
            {{ block.settings.rich_text }}
          </div>
        {% endif %}
        {% if block.settings.cta_url != blank
          and block.settings.cta_text != blank
        %}
          <div class="mt-5">
            <a
              href="{{ block.settings.cta_url }}"
              class="theme-link break-word"
            >
              {{- block.settings.cta_text -}}
            </a>
          </div>
        {% endif %}
      </div>
    {% when 'testimonial' %}
      <div
        class="mx-auto {{ block.settings.text_align }} {% if enable_cascade_on_mobile %}w-7/8{% endif %} relative my-5 text-left md:w-3/4 lg:w-2/3"
        data-disable-variance
        data-opacity-reveal
      >
        {% if block.settings.image and block.settings.image_style == 'photo' %}
          {{
            block.settings.image
            | image_url: width: 600
            | image_tag:
              preload: false,
              loading: loading,
              sizes: '5rem',
              class: 'inline-block w-[5rem] aspect-1 rounded-full object-cover object-center mb-5',
              decoding: 'async'
          }}
        {% endif %}
        <blockquote>
          {%- if block.settings.rating != 'none' -%}
            {%- assign stars = block.settings.rating
              | split: '_'
              | first
              | plus: 0
            -%}
            <div class="{{ block.settings.text_align }} mb-5 tracking-[0.1rem]">
              {%- for i in (1..stars) -%}
                ★
              {%- endfor -%}
            </div>
          {%- endif -%}
          <div class="rte rte--content-only rte--compact quotes-container text-theme-basic">
            {{ block.settings.quote }}
          </div>
          {% if block.settings.source != blank %}
            <footer class="mt-5">
              &mdash; {{ block.settings.source | strip }}
            </footer>
          {% endif %}
        </blockquote>
        {% if block.settings.image and block.settings.image_style == 'logo' %}
          {{
            block.settings.image
            | image_url: width: 600
            | image_tag:
              loading: loading,
              sizes: '4rem',
              class: 'inline-block max-w-[4rem] h-auto mt-3'
          }}
        {% endif %}
      </div>
    {% when 'video' %}
      {% liquid
        assign video_modal_id = 'video-modal-' | append: section.id | append: '-' | append: block.id | replace: '_', '-' | handleize
        assign video = block.settings.video
      %}
      {% if block.settings.mode == 'preview' %}
        {% capture video_preview %}
          <div class="mx-auto" data-scale-reveal  {% if settings.zoom_media_links_on_hover  %}data-zoom-on-hover{% endif %}>
            {% if video %}
              {{
                video.preview_image
                | image_url: width: 2000
                | image_tag: preload: preload, loading: loading, sizes: sizes, decoding: 'async'
              }}
            {% else %}
              {{
                'lifestyle-2'
                | placeholder_svg_tag: 'aspect-w-16 aspect-h-9 bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current'
              }}
            {% endif %}
          </div>
          <div class="absolute inset-0 flex h-full w-full items-center justify-center">
            <div class="h-16 w-16 rounded-full bg-scheme-background p-4">
              {% render 'icon-play' %}
            </div>
          </div>
        {% endcapture %}
        {% if block.settings.playback == 'modal' %}
          <button
            x-data
            class="relative block w-full cursor-pointer"
            type="button"
            title="{{ 'general.video.play' | t }}{% if video.alt %}, {{ video.alt | escape }}{% endif %}"
            @click="$store.modals.open('{{ video_modal_id }}')"
          >
            {{ video_preview }}
          </button>
        {% else %}
          <div
            id="video-{{ section.id }}-{{ block.id }}"
            x-data="Video('inline')"
            class="relative w-full"
            {% if video %}
              style="padding-top: {{ 100.00 | divided_by: video.aspect_ratio }}%;"
            {% else %}
              {% # placeholder video is 16 : 9 %}
              style="padding-top: {{ 100.00 | divided_by: 1.77777778 }}%;"
            {% endif %}
            x-intersect:leave="pause"
          >
            <template x-if="enabled">
              <div
                class="opacity-0 transition-opacity duration-500"
                :class="{ 'opacity-0': !shown, 'pointer-events-none': !shown }"
              >
                <div x-data="HTMLVideo" @play="play" @pause="pause">
                  {% if video %}
                    {{
                      video
                      | video_tag:
                        class: 'absolute inset-0 w-full h-full',
                        loading: loading,
                        autoplay: true,
                        controls: true,
                        muted: false,
                        x-ref: 'video'
                    }}
                  {% else %}
                    <video
                      x-ref="video"
                      autoplay
                      controls
                      class="absolute inset-0 h-full w-full"
                    >
                      <source
                        src="{{ 'placeholder-video.mp4' | asset_url }}"
                        type="video/mp4"
                      >
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                </div>
              </div>
            </template>
            <div
              class="absolute inset-0 h-full w-full transition-opacity duration-300"
              :class="{ 'opacity-0' : shown, 'pointer-events-none': shown }"
            >
              <button
                class="relative block w-full cursor-pointer"
                type="button"
                title="{{ 'general.video.play' | t }}{% if video.alt %}, {{ video.alt | escape }}{% endif %}"
                @click="enabled = true"
              >
                {{ video_preview }}
              </button>
            </div>
          </div>
        {% endif %}
      {% else %}
        <div
          id="video-{{ section.id }}-{{ block.id }}"
          x-data="Video('inline', 'autoplay')"
          {% if video %}
            style="padding-top: {{ 100.00 | divided_by: video.aspect_ratio }}%;"
          {% else %}
            {% # placeholder video is 16 : 9 %}
            style="padding-top: {{ 100.00 | divided_by: 1.77777778 }}%;"
          {% endif %}
          x-intersect:leave="pause"
          x-intersect:enter="play"
        >
          <div x-data="HTMLVideo" @play="play" @pause="pause">
            {% if video %}
              {{
                video
                | video_tag:
                  class: 'absolute inset-0 w-full h-full',
                  autoplay: true,
                  image_size: '2048x',
                  loop: true,
                  controls: false,
                  preload: 'none',
                  muted: true,
                  x-ref: 'video'
              }}
            {% else %}
              <video
                class="absolute inset-0 h-full w-full"
                x-ref="video"
                autoplay
                muted
                loop
              >
                <source
                  src="{{ 'placeholder-video.mp4' | asset_url }}"
                  type="video/mp4"
                >
                Your browser does not support the video tag.
              </video>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% when 'product' %}
      {% liquid
        assign product = block.settings.product
        assign show_image_only = block.settings.show_image_only

        if product != empty
          render 'product-tile', product: product, show_image_only: show_image_only, tag: 'div', full_width_item_header: full_width_item_header, preload: preload, loading: loading
        else
          render 'product-tile-placeholder', placeholder_name: 'product-1', show_image_only: show_image_only, tag: 'div', full_width_item_header: full_width_item_header
        endif
      %}
    {% when 'article' %}
      {% liquid
        assign show_excerpt = block.settings.show_excerpt

        if block.settings.article != empty
          render 'article-tile', article: block.settings.article, show_excerpt: show_excerpt, sizes: '50vw', tag: 'div', full_width_item_header: full_width_item_header, preload: preload, loading: loading, style: block.settings.article_style
        else
          render 'article-tile', show_image_placeholder: true, show_excerpt: show_excerpt, tag: 'div', full_width_item_header: full_width_item_header, style: block.settings.article_style
        endif
      %}
    {% when 'custom_html' %}
      {% liquid
        if block.settings.html != blank
          echo block.settings.html
        endif
      %}
  {% endcase %}
</div>
