{% assign section_color = 'scheme1' %}

<section
  class="bg-scheme-background py-section text-scheme-text"
  data-color-scheme="{{ section_color }}"
>
  <div class="mx-auto my-10 min-h-[55vh] max-w-site px-5 md:px-10">
    <div class="mx-auto max-w-5xl md:grid md:grid-cols-3 md:gap-grid-gutter">
      <div class="mb-20 md:mb-0">
        <h1
          class="font-heading mb-5 text-heading-standard"
          tabindex="-1"
          data-should-focus
        >
          {{ 'customer.account.title' | t }}
        </h1>

        <div class="mb-10 mt-5 text-sm">
          <a class="theme-link" href="{{ routes.account_url }}">
            {{ 'customer.account.return' | t }}
          </a>
        </div>

        <div class="mb-10 mt-5 text-sm">
          <button
            id="AddressNewButton"
            type="button"
            data-address-new
            aria-expanded="false"
            class="theme-link"
          >
            {{ 'customer.addresses.add_new' | t }}
          </button>
        </div>

        <div class="my-5 text-sm">
          {% if customer.first_name != blank %}
            {% capture first_name %}<a class="" href="{{ routes.account_url }}">{{ customer.first_name }}</a>{% endcapture %}
            {{
              'layout.customer.logged_in_as_html'
              | t: first_name: first_name
            }}
          {% else %}
            <a class="" href="{{ routes.account_url }}">
              {{- 'layout.customer.account' | t -}}
            </a>
          {% endif %}

          <div class="my-1">
            <a class="theme-link" href="{{ routes.account_logout_url }}">
              {{ 'layout.customer.log_out' | t }}
            </a>
          </div>
        </div>
      </div>
      <div class="md:col-span-2">
        {% form 'customer_address', customer.new_address %}
          <div
            id="AddressNewForm"
            data-address-form
            class="{% unless form.errors %} hidden {% endunless %} mb-10"
          >
            <h2 class="font-heading mb-5 text-xl">
              {{ 'customer.addresses.add_new' | t }}
            </h2>

            <div class="mb-10">
              {% if form.errors %}
                <div class="needs-attention">
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
            </div>

            <div data-address-fields class="address-form -my-5">
              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressFirstNameNew"
                >
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[first_name]"
                  id="AddressFirstNameNew"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  autocapitalize="words"
                  placeholder="{{ 'customer.addresses.first_name' | t }}"
                >
              </div>

              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressLastNameNew"
                >
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[last_name]"
                  id="AddressLastNameNew"
                  value="{{ form.last_name }}"
                  autocapitalize="words"
                  autocomplete="family-name"
                  placeholder="{{ 'customer.addresses.last_name' | t }}"
                >
              </div>

              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressCompanyNew"
                >
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[company]"
                  id="AddressCompanyNew"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  autocapitalize="words"
                  placeholder="{{ 'customer.addresses.company' | t }}"
                >
              </div>

              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressAddress1New"
                >
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[address1]"
                  id="AddressAddress1New"
                  value="{{ form.address1 }}"
                  autocomplete="street-address address-line1"
                  autocapitalize="words"
                  placeholder="{{ 'customer.addresses.address1' | t }}"
                >
              </div>

              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressAddress2New"
                >
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[address2]"
                  id="AddressAddress2New"
                  value="{{ form.address2 }}"
                  autocomplete="street-address address-line2"
                  autocapitalize="words"
                  placeholder="{{ 'customer.addresses.address2' | t }}"
                >
              </div>

              <div class="my-5">
                <label
                  class="mb-2 block text-left text-theme-basic"
                  for="AddressCityNew"
                >
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input
                  class="w-full"
                  type="text"
                  name="address[city]"
                  id="AddressCityNew"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  autocapitalize="words"
                  placeholder="{{ 'customer.addresses.city' | t }}"
                >
              </div>

              <div class="md:my-5 md:grid md:grid-cols-2 md:gap-x-5">
                <div class="my-5 md:my-0">
                  <label
                    class="mb-2 block text-left text-theme-basic"
                    for="AddressCountryNew"
                  >
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <select
                    class="w-full appearance-none text-scheme-text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-provinces="Test"
                    data-default="{{ form.country }}"
                  >
                    {{ all_country_option_tags }}
                  </select>
                </div>

                <div
                  id="AddressProvinceContainerNew"
                  class="my-5 md:my-0"
                >
                  <label
                    class="mb-2 block text-left text-theme-basic"
                    for="AddressProvinceNew"
                  >
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <select
                    class="w-full appearance-none text-scheme-text"
                    name="address[province]"
                    id="AddressProvinceNew"
                    autocomplete="address-level1"
                    data-default="{{ form.province }}"
                  ></select>
                </div>
              </div>

              <div class="md:my-5 md:grid md:grid-cols-2 md:gap-x-5">
                <div class="my-5 md:my-0">
                  <label
                    class="mb-2 block text-left text-theme-basic"
                    for="AddressZipNew"
                  >
                    {{ 'customer.addresses.zip' | t }}
                  </label>
                  <input
                    class="w-full"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    value="{{ form.zip }}"
                    autocomplete="postal-code"
                    autocapitalize="characters"
                    placeholder="{{ 'customer.addresses.zip' | t }}"
                  >
                </div>

                <div class="my-5 md:my-0">
                  <label
                    class="mb-2 block text-left text-theme-basic"
                    for="AddressPhoneNew"
                  >
                    {{ 'customer.addresses.phone' | t }}
                  </label>
                  <input
                    class="w-full"
                    type="tel"
                    name="address[phone]"
                    id="AddressPhoneNew"
                    value="{{ form.phone }}"
                    autocomplete="phone"
                    pattern="[0-9\-]*"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                  >
                </div>
              </div>

              <div class="my-5 flex items-center">
                {{ form.set_as_default_checkbox }}
                <label class="ml-3" for="address_default_address_new">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>

              <div class="-mx-3 mb-5 mt-10 flex">
                <button
                  class="theme-button theme-button--solid mx-3 w-full"
                  type="submit"
                >
                  {{ 'customer.addresses.add' | t }}
                </button>
                <button
                  class="theme-link mx-3 w-full border-transparent"
                  type="button"
                  data-address-new
                >
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>
            </div>
          </div>
        {% endform %}

        <h2 class="font-heading text-xl">
          {{ 'customer.addresses.title' | t }}
        </h2>

        {% paginate customer.addresses by 5 %}
          <div class="-mb-10 -mt-5">
            {% for address in customer.addresses %}
              <div
                class="my-10 text-theme-basic"
                data-address
              >
                {% if address == customer.default_address %}
                  <p>
                    <strong>
                      {{ 'customer.addresses.default' | t }}
                    </strong>
                  </p>
                {% endif %}

                {{ address | format_address }}

                <div class="my-3 text-sm">
                  <button
                    id="EditFormButton_{{ address.id }}"
                    class="theme-link underline-offset-tight"
                    type="button"
                    data-address-edit="{{ address.id }}"
                    aria-expanded="false"
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                  |
                  <form
                    class="inline-block"
                    data-address-delete-form
                    method="post"
                    action="/account/addresses/{{ address.id }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  >
                    <input
                      class="w-full"
                      type="hidden"
                      name="_method"
                      value="delete"
                    >
                    <button
                      class="theme-link underline-offset-tight"
                      type="submit"
                    >
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </form>
                </div>

                <div
                  id="EditAddress_{{ address.id }}"
                  data-address-form="{{ address.id }}"
                  class="mb-20 mt-8 hidden"
                >
                  {% form 'customer_address', address %}
                    <h3 class="font-heading mb-10 text-xl">
                      {{ 'customer.addresses.edit_address' | t }}
                    </h3>

                    <div data-address-fields class="address-form -my-5">
                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressFirstName_{{ form.id }}"
                        >
                          {{ 'customer.addresses.first_name' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[first_name]"
                          id="AddressFirstName_{{ form.id }}"
                          value="{{ form.first_name }}"
                          autocomplete="given-name"
                          autocapitalize="words"
                          placeholder="{{ 'customer.addresses.first_name' | t }}"
                        >
                      </div>

                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressLastName_{{ form.id }}"
                        >
                          {{ 'customer.addresses.last_name' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[last_name]"
                          id="AddressLastName_{{ form.id }}"
                          value="{{ form.last_name }}"
                          autocapitalize="words"
                          autocomplete="family-name"
                          placeholder="{{ 'customer.addresses.last_name' | t }}"
                        >
                      </div>

                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressCompany_{{ form.id }}"
                        >
                          {{ 'customer.addresses.company' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[company]"
                          id="AddressCompany_{{ form.id }}"
                          value="{{ form.company }}"
                          autocomplete="organization"
                          autocapitalize="words"
                          placeholder="{{ 'customer.addresses.company' | t }}"
                        >
                      </div>

                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressAddress1_{{ form.id }}"
                        >
                          {{ 'customer.addresses.address1' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[address1]"
                          id="AddressAddress1_{{ form.id }}"
                          value="{{ form.address1 }}"
                          autocomplete="street-address address-line1"
                          autocapitalize="words"
                          placeholder="{{ 'customer.addresses.address1' | t }}"
                        >
                      </div>

                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressAddress2_{{ form.id }}"
                        >
                          {{ 'customer.addresses.address2' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[address2]"
                          id="AddressAddress2_{{ form.id }}"
                          value="{{ form.address2 }}"
                          autocomplete="street-address address-line2"
                          autocapitalize="words"
                          placeholder="{{ 'customer.addresses.address2' | t }}"
                        >
                      </div>

                      <div class="my-5">
                        <label
                          class="mb-2 block text-left text-theme-basic"
                          for="AddressCity_{{ form.id }}"
                        >
                          {{ 'customer.addresses.city' | t }}
                        </label>
                        <input
                          class="w-full"
                          type="text"
                          name="address[city]"
                          id="AddressCity_{{ form.id }}"
                          value="{{ form.city }}"
                          autocomplete="address-level2"
                          autocapitalize="words"
                          placeholder="{{ 'customer.addresses.city' | t }}"
                        >
                      </div>

                      <div class="md:my-5 md:grid md:grid-cols-2 md:gap-x-5">
                        <div class="my-5 md:my-0">
                          <label
                            class="mb-2 block text-left text-theme-basic"
                            for="AddressCountry_{{ form.id }}"
                          >
                            {{ 'customer.addresses.country' | t }}
                          </label>
                          <select
                            class="w-full appearance-none text-scheme-text"
                            name="address[country]"
                            id="AddressCountry_{{ form.id }}"
                            autocomplete="country"
                            data-provinces="Test"
                            data-default="{{ form.country }}"
                          >
                            {{ all_country_option_tags }}
                          </select>
                        </div>

                        <div
                          id="AddressProvinceContainer_{{ form.id }}"
                          class="my-5 md:my-0"
                        >
                          <label
                            class="mb-2 block text-left text-theme-basic"
                            for="AddressProvince_{{ form.id }}"
                          >
                            {{ 'customer.addresses.province' | t }}
                          </label>
                          <select
                            class="w-full appearance-none text-scheme-text"
                            name="address[province]"
                            id="AddressProvince_{{ form.id }}"
                            autocomplete="address-level1"
                            data-default="{{ form.province }}"
                          ></select>
                        </div>
                      </div>

                      <div class="md:my-5 md:grid md:grid-cols-2 md:gap-x-5">
                        <div class="my-5 md:my-0">
                          <label
                            class="mb-2 block text-left text-theme-basic"
                            for="AddressZip_{{ form.id }}"
                          >
                            {{ 'customer.addresses.zip' | t }}
                          </label>
                          <input
                            class="w-full"
                            type="text"
                            name="address[zip]"
                            id="AddressZip_{{ form.id }}"
                            value="{{ form.zip }}"
                            autocomplete="postal-code"
                            autocapitalize="characters"
                            placeholder="{{ 'customer.addresses.zip' | t }}"
                          >
                        </div>

                        <div class="my-5 md:my-0">
                          <label
                            class="mb-2 block text-left text-theme-basic"
                            for="AddressPhone_{{ form.id }}"
                          >
                            {{ 'customer.addresses.phone' | t }}
                          </label>
                          <input
                            class="w-full"
                            type="tel"
                            name="address[phone]"
                            id="AddressPhone_{{ form.id }}"
                            value="{{ form.phone }}"
                            autocomplete="phone"
                            pattern="[0-9\-]*"
                            placeholder="{{ 'customer.addresses.phone' | t }}"
                          >
                        </div>
                      </div>

                      <div class="my-5 flex items-center">
                        {{ form.set_as_default_checkbox }}
                        <label class="ml-3" for="address_default_address_new">
                          {{ 'customer.addresses.set_default' | t }}
                        </label>
                      </div>

                      <div class="-mx-3 mb-5 mt-10 flex">
                        <button
                          class="theme-button theme-button--solid mx-3 w-full"
                          type="submit"
                        >
                          {{ 'customer.addresses.update' | t }}
                        </button>
                        <button
                          class="theme-link mx-3 w-full border-transparent"
                          type="button"
                          data-address-edit="{{ address.id }}"
                        >
                          {{ 'customer.addresses.cancel' | t }}
                        </button>
                      </div>
                    </div>
                  {% endform %}
                </div>
              </div>
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            {% render 'pagination', paginate: paginate %}
          {% endif %}
        {% endpaginate %}
      </div>
    </div>
  </div>
</section>

<script src="{{ 'customer-address-form.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Customer addresses"
}
{% endschema %}
